*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #777; }

/******************************************** Grid ***************************************/

.grid-test [class^="col-"] {
  background-color: #55c57a;
  padding: 1rem;
  color: white;
  font-size: 1.4rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 37.5em) {
    .row {
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        margin-right: 0;
        margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 *((100% - 2 * 6rem) / 3 ) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 *((100% - 3 * 6rem) / 4 ) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 *((100% - 3 * 6rem) / 4 ) + 2 * 6rem); }

/*******************************************Header/Footer **********************************/

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase; }

header{
  width: 100%;
  height: 20%;
  font-size: 4rem;
  color: hotpink;
  text-align: center;
}  

footer{
  position:fixed;
  bottom:0;
  height: 10%;
  width:100%;
  height:40px;   /* Height of the footer */
  background:#6cf;
}

/****************************************Navigation ************************************/

.navi{
  width: 100%;
  height: 10%;
  background-color: blue;
  color: yellow;
}

.navigation{
  width: 100%;
  height: 10%;
  font-size: 2rem;
  color: rgb(255, 0, 13);
  text-align: left;
  background:#6cf;
  list-style: none;
  clear: both;
}

.navigation__link{
  padding-left: 2rem;
  display: inline-block;  
}

/************************************* a Tag ***************************************/

a{
  text-decoration: none;
  color: white;
}

/****************************** Image ***********************************/

img{
  max-width: 150%;
  max-height: 150%;
  padding-right: 80px;
  padding-top: 80px;
}

.img2{
 width: 8%;
 height: 8%;
 padding: 0;
}

.img3{
  width: 10%;
  height: 10%;
  padding: 10px;
}

/*********************************************Paragraph****************************/

p{
  font-size: 1.6rem; 
  padding-left: 180px;
  /* color: rgb(28, 0, 128); */
}

p1{
  padding-left: 350px;
  color: hotpink;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

p2{
  padding-left: 380px;
  color: hotpink;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

p3{
  padding-left: 380px;
  width: 100%;
  color: white;
  font-size: 20px;
}

p4{
  color: rgb(28, 0, 128);
}

p5{
  font-size: 15px;
  padding: 30px;
}

/************************************** TODO List************************************/

.titleList{
  width: 70%;
  height: 8.5%;
  font-size: 2rem;
  color: rgb(255, 0, 13);
  text-align: center;
  background:#6cf;
  list-style: none;
  clear: both;
  right: 0;
  left: 0;
  position: relative;
  margin: auto;
  /* vertical-align:middle; */
}

ol li{
  list-style-type: none;
}

.listItems{
  width: 70%;
  height: 20%;
  font-size: 2rem;
  color: rgb(255, 0, 13);
  text-align: center;
  /* background:#6cf; */
  list-style: none;
  clear: both;
  right: 0;
  left: 0;
  position: relative;
  margin: auto;
  /* vertical-align:middle; */
}

button{
  color: white;
  background: #6cf;
  border: none;
  font-size: 2rem;
  outline: 0;
  padding-left: 30px;
}
button:hover{
  cursor: pointer;
}
.button2{
  color: white;
  background: hotpink;
  border: none;
  font-size: 13px;
  position: relative;
  /* top: 5px; */
  /* right: 12px; */
  float: right;
  padding: 5px;
}
.button2:hover{
  cursor: pointer;
}


.button3{
  color: white;
  background: #6cf;
  border: none;
  font-size: 13px;
  position: relative;
  /* top: 5px; */
  /* right: 12px; */
  float: left;
  padding: 5px;
}
.button3:hover{
  cursor: pointer;
}

.all:clicked input[type="checkbox"]:checked{
  display: none;
}

.complete:clicked input[type="checkbox"]:checked{
  display: none;
}

.todo:clicked .list:checked{
  display: none;
}


input[type="checkbox"]{
  position: relative;
  top: 14px;
  left: 14px;
	float: left;
}

input[type="checkbox"]:checked + label{
	text-decoration: line-through;
  color: rgba(0,0,0,.3);
}

.list{
	list-style: none;
  color: rgba(0,0,0,.7);
  padding-bottom: 40px;
  overflow: scroll;
}

.list li:nth-child(odd){
	background: rgba(0,0,50,.1);
}
/* .list :last-child { 
  margin-bottom: 0 !important; 
  margin-right: 0 !important; 
} */

.list li{
	float: left;
  width: 100%;
  border: 1px solid #6cf;
}

label{
	cursor: pointer;
	float: left;
	width: 95%;
	transition: all .3s ease;
}

.invisible{
  display: none;
}

/************************************* Form *************************************************/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background:#6cf;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: hotpink;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  border: 1px solid #6cf;
  width: 70%;
  background-color: #f2f2f2;
  padding: 20px;
  bottom: 30px;
  right: 0;
  left: 0;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
}

/***************************Side Bar ************************************************************/

/* The side navigation menu */
.sidenav {
  /* height: 100%; 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  height: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  /* top: 0;
  left: 0; */
  top: 0;
  bottom: 20%;
  background-color: #6cf; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
   /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: hotpink;
}

/* Position and style the close button (top right corner) */
/* .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 0;
  width: 85%;
  float: right;
  overflow:hidden;
  height: 90%;
}
body {
overflow-x: hidden;
}

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: #6cf; */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: hotpink;
  text-align: center;
  padding-top: 16px;
  padding-left: 16px;
  text-decoration: none;
  font-size: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


/******************** Table **********************/
th, td {
  border: 1px solid #ccc;
  padding: 5px;
}

table{
  font-size: 1.6rem; 
  padding-left: 180px;
}


/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/******************* Drop Down *****************************/
.dropbtn {
  color: white;
  background: #6cf;
  border: none;
  font-size: 2rem;
  outline: 0;
  padding-left: 30px;
}

.dropbtn:hover, .dropbtn:focus {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  font-size: 1rem; 
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}


/******************* Media ************************************/
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
